<ion-header >
  <ion-navbar color="primary">
    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Notas de Cursos
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="listar_notas()">
          <ion-icon name="md-refresh"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-navbar>   
</ion-header>



<ion-content padding class="trips detail-bg">
  
  <ion-fab bottom right >
    <button ion-fab (click)="nueva_nota()">
      <ion-icon name="md-add">
      </ion-icon>
    </button>
  </ion-fab>


  <ion-list >        

      <!--button ion-item *ngFor="let item of lista_cursos"  class="button button4" (click)="DetalleCurso(item)"  icon-start>
        
        <ion-card-content>
            <ion-icon name="md-key" item-start large ></ion-icon>
            <h2>  {{ item.Nombre }} </h2>
        </ion-card-content>

      </button-->

      <div class="trip card" *ngFor="let item of lista_cursos" tappable (click)="DetalleCurso(item)" margin-bottom>
          <div class="background border-bottom" [ngStyle]="{'background-image': 'url(assets/img/trip/profesor/curso.jpg)'}">
            <div class="background-filter rlt">
              <div class="align-bottom" padding-left padding-right>
                <h2>{{ item.Nombre }}</h2>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>

  </ion-list>




</ion-content>
