page-contact {

    .login-content {
        background: #008080;

        .login-box {
        background: #509287;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
        }    
    }    

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    width: 100%;
    cursor: pointer;
}

.button3 {background-color: #4CAF50;} /* Red */ 
.button2 {background-color: #fff156;} /* Yellow */
.button1 {background-color: #f44336;} /* Red */ 




}
